<header class="page-header">
  <h1>About Jungle</h1>
</header>
<section class="about">
  <p>
  "Welcome to the jungle, we've got fun and games
  <br>We got everything you want honey, we know the names
  <br>We are the people that can find whatever you may need
  <br>If you got the money, honey, we got your disease
  <br>In the jungle, welcome to the jungle
  <br>Watch it bring you to your sha-n-n-n-n-n-n-n-n knees, knees
  <br>Mwah, I, I wanna watch you bleed
  <br>Welcome to the jungle, we take it day by day
  <br>If you want it you're gonna bleed but it's the price to pay
  <br>And you're a very sexy girl who's very hard to please
  <br>You can taste the bright lights but you won't get there for free
  <br>In the jungle, welcome to the jungle
  <br>Feel my, my, my, my serpentine
  <br>Ooh, ah, I want to hear you scream
  <br>Welcome to the jungle, it gets worse here every day
  <br>You learn to live like an animal in the jungle where we play
  <br>If you got hunger for what you see you'll take it eventually
  <br>You can have anything you want but you better not take it from me
  <br>In the jungle, welcome to the jungle
  <br>Watch it bring you to your sha-n-n-n-n-n-n-n-n knees, knees
  <br>Mwah, I'm gonna watch you bleed
  <br>And when you're high, you never ever wanna come down
  <br>So down, so down, so down, yeah
  <br>You know where you are?
  <br>You're in the jungle, baby, you're gonna die
  <br>In the jungle, welcome to the jungle
  <br>Watch it bring you to your sha-n-n-n-n-n-n-n-n-knees, knees
  <br>In the jungle, welcome to the jungle
  <br>Feel my, my, my my, serpentine
  <br>Jungle, welcome to the jungle
  <br>Watch it bring you to your sha-n-n-n-n-n-n-n-n-knees, knees
  <br>Down In the jungle, welcome to the jungle
  <br>Watch it bring you to you
  <br>It's gonna bring you down, huh
  </p>
</section>

