// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.signUpForm{
  display:flex;
  flex-direction: column;
  width: 75%
}

.form{
  display: flex;
  justify-content: space-evenly;
}

input{
  margin: 5px;
}